
body{
    background-color: black;
    color:aliceblue;
}
.blockquote-footer{
    color:rgb(225, 240, 254);
}
.card-row{
    margin-bottom: 5em;
}
.cart-summary{
    margin-top: 2em;
    padding: 1em;
    border-top-style:double;
}
.disclaimer{
    color: yellow
}
.full-section{
    min-height: 90vh;
    padding-top: 8em;
}
.text-muted{
    color:white;
}
#search-section{
    margin-top:10em;
    margin-bottom:7em;
}