{% extends "base.html" %}

{% block main %}
{% include 'navbar.html' %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-10 col-md-6 offset-md-3 offset-sm-1">
            <h1 class="mt-5 mb-3">Login</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-6 offset-md-3 offset-sm-1">
            <form method="post">
                {{ form.username.label(class='form-label') }}
                {{ form.username(class='form-control mb-2') }}
                {{ form.password.label(class='form-label') }}
                {{ form.password(class='form-control mb-2') }}
                <button class="btn btn-lg btn-light my-3 d-block mx-auto">Login</button>
            </form>
        </div>
    </div>
    {% include 'alert.html' %}
    <div class="row mt-2 p-3 border-top">
        <small class="text-center text-white">Don't have an account? 
            <a href="{{url_for('register')}}" class="link-primary">
                Register here!
            </a>
        </small>
    </div>  
</div>
{% endblock %}