{% extends "base.html" %}

{% block main %}
{% include 'navbar.html' %}
    <div class="container full-section">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="mt-5 mb-3">
                    Change Password
                </h1>   
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post">
                    {{ form.csrf_token }}
                    {{ form.current.label(class='form-label') }}
                    {{ form.current(class='form-control mb-2') }}
                    {{ form.new.label(class='form-label') }}
                    {{ form.new(class='form-control mb-2') }}
                    {{ form.confirm.label(class='form-label') }}
                    {{ form.confirm(class='form-control mb-2') }}
                    <button class="btn btn-outline-light d-flex mx-auto my-3">Confirm</button>
                </form>
            </div>
        </div>
        {% include 'alert.html' %}
    </div>
{% endblock %}